/* HU Visualization */
.greenContainer {
    background-color: #28a745;
    border-style: groove;
}

.yellowContainer {
    background-color: #e0a800;
    border-style: groove;
}

.grayContainer {
    background-color: #bbb9b9;
    border-style: groove;
}

.huContainer .sapMText {
    color: white;
}

.selected {
    background-color: #4014e0;
    border-style: double;
}